<!DOCTYPE html>
<html>
<head>
	<title>GUC Portfolio</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
 	
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if (user) { %>
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/users/summary">Summary</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
    
              <% } else { %>
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">GUC Portfolio</h3>
      </div>

      		<h2 class="page-header">Account Login</h2>
			<form method="post" action="/users/login">
  			<div class="form-group">
    		<label>Username</label>
   			 <input type="text" class="form-control" name="username" placeholder="Username">
  			</div>
 			 <div class="form-group">
  			  <label>Password</label>
    		<input type="password" class="form-control" name="password" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-default">Login</button>
			</form> 


      <footer class="footer">
        <p>&copy; 2017 GUC Portfolio, Inc.</p>
      </footer>

    </div> 
</body>
</html>



